@use "sass:color";
@import "theme.scss";

.button {
    all: unset;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 64px;
    justify-content: center;
    margin: 8px;
    text-align: center;
    width: calc(50% - 16px);

    &.effect {
        background: $color-red;
        &:active { background: color.scale($color-red, $lightness: 10%); }
    }
    &.instrument {
        background: $color-blue;
        &:active { background: color.scale($color-blue, $lightness: 10%); }
    }
    &.internal {
        background: $color-gray;
        &:active { background: color.scale($color-gray, $lightness: 10%); }
    }
    &.current {
        border: 2px solid $color-text;
    }
}

.content {
    background-color: $color-container;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.header {
    align-items: center;
    background: $color-gray;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    height: 48px;
    padding: 0 24px;
}

.root {
    display: flex;
    flex-direction: column;
}
