@import "theme.scss";

.channelStrip {
    padding: 48px;
}

.channelStripsContainer {
    display: flex;
    margin: 0 auto;
    padding: 48px;
    padding-top: 56px;
    transition: .1s ease-out;
}

.root {
    display: flex;
}
